
<collapsable-well>
    <div collapsableTitle>
        <h2>{{product?.Name}} <i *ngIf="product?.Price > 1000" class="glyphicon glyphicon-fire" style="color:red"></i></h2>
    </div>
    <div collapsableBody>
        <div class="row">
            <div class="col-md-4">Product Code</div>
            <div class="col-md-4">{{product?.ProductId}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Price</div>
            <div class="col-md-4">
                <span [ngClass]="getPriceClasses()" >{{product?.Price}}</span>
                </div>
        </div>
        <div class="row">
            <div class="col-md-4">Discount</div>
            <div class="col-md-4">{{product?.Discount}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Offer</div>
            <div [ngSwitch]="product?.Details?.Category" class="col-md-4">
                <span *ngSwitchCase="'Furniture'">You have additonal 5% Discount in Axis Bank Card</span>
                <span *ngSwitchCase="'Computer'">You have additonal 10% Discount in Axis Bank Card</span>
                <span *ngSwitchDefault>You have no additonal Discount in this Category</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a [routerLink]="['/products',product?.id]" class="btn btn-default">Details</a>
            </div>
        </div>
    </div>
    
</collapsable-well>