<div class="container">
    <h2>Sign Up</h2>
    <!-- <form [formGroup]="registerForm" (ngSubmit)="Register(registerForm)" class="form-horizontal" novalidate> -->
    <form [formGroup]="registerForm" (ngSubmit)="Register()" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">First Name:</label>
            <div class="col-sm-6">
                <input type="text" formControlName="FirstName" required class="form-control" id="FirstName" placeholder="Enter First Name">
            </div>
            <div class="col-sm-4">
                <!-- <em *ngIf="registerForm.controls.FirstName?.invalid && (registerForm.controls.FirstName?.touched || mouseoverlogin) && registerForm.controls.FirstName?.errors.required"
                    style="color:red">Required</em>
                <em *ngIf="registerForm.controls.FirstName?.invalid && registerForm.controls.FirstName?.errors.pattern"
                    style="color:red">First Name should start with a Alphabet</em> -->
                <!-- <em *ngIf="fName?.invalid && (fName?.touched || mouseoverlogin) && fName?.errors.required"
                    style="color:red">Required</em>
                <em *ngIf="fName?.invalid && fName?.errors.pattern" style="color:red">First Name should start with a Alphabet</em> -->
                <em *ngIf="FirstNameMessage" style="color:red">{{FirstNameMessage}}</em>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Last Name:</label>
            <div class="col-sm-6">
                <input type="text" formControlName="LastName" class="form-control" id="LastName" placeholder="Enter Last Name">
            </div>
            <div class="col-sm-4">
                <em *ngIf="LastNameMessage" style="color:red">{{LastNameMessage}}</em>
            </div>
        </div>
        <div formGroupName="EmailGroup">
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Email:</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="Email" class="form-control" placeholder="Enter Email">
                </div>
                <div class="col-sm-4">
                    <em *ngIf="registerForm.controls.EmailGroup.controls.Email?.invalid && (registerForm.get('EmailGroup.Email')?.touched || 
                                                        mouseoverlogin) && registerForm.get('EmailGroup.Email')?.errors.required"
                        style="color:red">Required</em>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Confirm Email:</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="ConfirmEmail" class="form-control" placeholder="Confirm Email">
                </div>
                <div class="col-sm-4">
                    <em *ngIf="registerForm.controls.EmailGroup.controls.ConfirmEmail?.invalid && (registerForm.get('EmailGroup.ConfirmEmail')?.touched || 
                        mouseoverlogin) && registerForm.get('EmailGroup.ConfirmEmail')?.errors.required" style="color:red">Required</em>
                    <em *ngIf="registerForm.controls.EmailGroup.errors && 
                                    registerForm.get('EmailGroup')?.errors.match" style="color:red">Both Emails Not matching</em>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Phone:</label>
            <div class="col-sm-6">
                <input type="text" formControlName="Phone" class="form-control" placeholder="Enter Phone">
            </div>
            <div class="col-sm-4" *ngIf="registerForm.get('Phone').errors">
                <em *ngIf="registerForm.get('Phone')?.invalid && (registerForm.get('Phone')?.touched || 
                                                mouseoverlogin) && registerForm.get('Phone')?.errors.required" style="color:red">Required</em>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Age:</label>
            <div class="col-sm-6">
                <input type="number" formControlName="Age" class="form-control">
            </div>
            <div class="col-sm-4" *ngIf="registerForm.get('Age').errors">
                <em *ngIf="registerForm.get('Age')?.invalid && (registerForm.get('Age')?.touched || 
                                                    mouseoverlogin) && registerForm.get('Age')?.errors.range" style="color:red">Age Must be greater than 18 and less than 60</em>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Notification:</label>
            <div class="col-sm-6">
                <input type="radio" formControlName="Notification" value="email"><span>Email</span>
                <input type="radio" formControlName="Notification" value="phone"><span>Phone</span>
            </div>
            <div class="col-sm-4">

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Send Catalog:</label>
            <div class="col-sm-6">
                <input type="checkbox" formControlName="SendCatalog"> <span>Send Catalog</span>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <div *ngIf="registerForm.get('SendCatalog').value">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="AddAddress()">Add New Address</button>
                </div>
            </div>
            <div class="row" formArrayName="addresses" *ngFor="let address of addresses.controls;let i=index">
                <div class="well" [formGroupName]="i">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Address Line 1:</label>
                        <div class="col-sm-6">
                            <input type="text" formControlName="AddLine1" class="form-control" placeholder="Enter Address Line 1">
                        </div>
                        <div class="col-sm-2">
                            <button (click)="RemoveAddress(i)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Address Line 2:</label>
                        <div class="col-sm-6">
                            <input type="text" formControlName="AddLine2" class="form-control" placeholder="Enter Address Line 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Confirm Email:</label>
                        <div class="col-sm-6">
                            <input type="text" formControlName="City" class="form-control" placeholder="Enter City">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span (mouseenter)="mouseoverlogin=true" (mouseleave)="mouseoverlogin=false"><button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button></span>
                <button type="button" class="btn btn-info" (click)="TestData()">Test Data</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>